body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height:1200px;
    width:100%;
  }
 
.bb{
display:inline-block;
}
.box{
height:300px;
width:300px;
}
.box img{
height:200px;
width:200px;
margin:20px 85px 10px 50px;
}
.box h4{
height:30px;
width:200px;
margin:0px 20px 0px 50px;

}
.box #small{
height:20px;
width:200px;
margin:0px 20px 0px 50px;
    }
.box #big{
height:30px;
width:300px;
margin:0px 20px 0px 60px;
}
.box button{
border-radius: 15px;
height:40px;
width:150px;
background-color: red;
color:white;
margin:10px 10px 20px 50px;
}
.box button:hover{
border-radius: 15px;
height:40px;
width:150px;
background-color:white ;
color:red;
margin:10px 10px 20px 50px;

}
.images{
height:30px;
width:150px;
display:flex;
flex-direction: row;
justify-content: center;
align-items:center ;
margin-left: 50px;
}
.images img{
height:20px;
width:20px;
border-radius: 0;
margin:0;
}

.box p{
font-size:20px;
font-weight: bold;
margin-left:30px;

}   
@media (max-width:2008px){

.nav ul{
    margin-right: 10px;
    width: 100%;
}
.nav a{
    font-size: 17px;
}
}@media (max-width:509px){
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:0px;
    height:1450px;
    width:500px;
}

.bb{
display:inline-block;
}
.box{
height:300px;
width:400px;
}
.box img{
height:200px;
width:200px;
margin:20px 85px 10px 100px;
}
.box h4{
height:30px;
width:200px;
margin:0px 20px 0px 120px;

}
.images{
height:30px;
width:150px;
display:flex;
flex-direction: row;
justify-content: center;
align-items:center ;
margin-left: 120px;
}
.images img{
height:20px;
width:20px;
border-radius: 0;
margin:0;
}
.box #small{
height:20px;
width:200px;
margin:0px 20px 20px 140px;
    }
.box #big{
height:30px;
width:300px;
margin:0px 20px 20px 90px;
}
.box button{
border-radius: 15px;
height:40px;
width:150px;
background-color: red;
color:white;
margin:10px 10px 20px 120px;
}
.box button:hover{
border-radius: 15px;
height:40px;
width:150px;
background-color:white ;
color:red;
margin:10px 10px 20px 120px;

}

.box p{
font-size:20px;
font-weight: bold;
margin:10px 10px 10px 10px;
}}
