body{
  
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height:550px;
    width:100%; 
    background-image:url("../../assets/images/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
 
.ContactUs{
border: 1px solid gray;
 height:550px;
 width:500px;
 padding-left:55px;
 margin:40px 100px 0px 100px;
 display: flex;
 background-color: rgb(89, 89, 89);
}

#name{
 color:rgb(230, 230, 245);
 font-size: 18px;
}
input{
 width:455px;
 height:40px;
 border:2px solid white;
 border-radius: 15px;
 font-size: 18px;
}/**/
.msg{
width:455px;
 height:80px;
 font-size: 18px;

}
input:hover{
background-color:transparent;/**/
border:none;
border-bottom: 1px solid white;
border-radius: 0;
color:white;
font-size: 18px;/**/
}
#submit{
height:40px;
width:150px;
border-radius: 15px;
color:red;
font-size:20px;

}
.contact-right{
height:500px;
width:600px;
}
.contact-right img{
height:500px;
width:500px;
margin:30px 30px 30px 100px;
}@media (max-width:509px){
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:0px;
    height:1000px;
    width:500px;
}


.ContactUs{

height:550px;
width:500px;
padding-left:25px;
margin:40px 30px 0px 30px;
display: flex;
flex-direction: column;
background-image:url("../../assets/images/mobile.png");
background-repeat: no-repeat;
background-size: cover;

}
#name{
 color:rgb(230, 230, 245);
 font-size: 18px;
}
input{
width:300px;
height:40px;
border:2px solid white;
border-radius: 15px;
}
.msg{
width:300px;
height:80px;
}
input:hover{
background-color:transparent;/**/
border:none;
border-bottom: 1px solid white;
border-radius: 0;
}
#submit{
height:40px;
width:150px;
border-radius: 15px;
color:red;
font-size:20px;

}
}